.post {
  background-color: #F2F2EB;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;

  .post-title {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .post-body {
    font-size: 16px;
    border: 0.2px solid #8C857B;
    border-radius: 5px;
    padding: 10px;
  }

  .post-bottom {
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    padding-top: 10px;
    text-align: end;
    width: 100%;
    justify-content: space-between;

    .post-delete-update div {
      padding-right: 20px;
      display: inline-flex;
    }
  }
}